.time1 .time_ring{
    width: 250px;
    height: auto;
    margin-top: -165px;
}

.time1 .time_els{
    width: 250px;
    text-align: center;
}

.time1 .time_time{
    margin-top: 90px;
    font-size: 50px;
}
.time1 .time_date{
    font-size: 18px;
}
.time1{
    width: 380px;
    height: 265px;
}
.time1 .time_inner{
    margin-top:3px;
    float:left;
    margin-left:65px;
}