.time2 .time_els{
    width: 100%;
    text-align:right
}
.time2 .time_time{
    font-size: 66px;
    font-weight:lighter;
}
.time2 .time_date{
    float:left;
    font-size: 25px;
    margin-top:-10px;
}
.time2{
    width: 380px;
    height: 106px;
}
.time2 .time_right{
    float:right;
    margin-right:42px;
}
.time2 .time_left{
    float:left;
    height: 106px;
    width: 33px;
}
.time2 .time_left>div{
    width:106px;
    height: 22px;
    font-size: 25px;
    text-align:right;
    margin-top: 57px;
    margin-left: -15px;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}