body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'contl';
    font-size: 20px;
    overflow: hidden;
}
#container{
    position:relative;
    width:1900px;
    height:1060px;
    margin:10px;
}
data-my-app{
    position: absolute;
    display: block;
    /*border: 1px solid white;*/
}
.splash{
    display:block !important;
    background-image: url("../img/logo_black.jpg"), url("../img/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center 402px, center 680px;
    background-size: auto, 300px 20px;
    width:100%;
    height:100%;
    position:absolute;          
}
.splash>div{
    margin-top:720px;
    text-align:center;
}

#user{
    margin-top: -50px;
    width: 100%;
    text-align:center;
    font-size: 30px;
}
/*[ng-cloak].splash{
    display:block !important;
    background-image: url("../img/logo_black.jpg"), url("../img/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center 402px, center 680px;
    background-size: auto, 300px 20px;
    width:100%;
    height:100%;
    position:absolute;    
}*/

@font-face {
    font-family: 'contl';
    src: url('../style/fonts/contl.ttf') format('truetype');
}

@font-face {
    font-family: 'contb';
    src: url('../style/fonts/contb.ttf') format('truetype');
}


@font-face {
    font-family: 'contm';
    src: url('../style/fonts/contm.ttf') format('truetype');
}